.card-head {
    font-family: 'Sedgwick Ave', cursive; 
    font-size: x0-large; 
    font-weight: normal;
    text-align:justify; 
    color: #5FC9F8;
}

.card-body {
    font-family: 'Poppins'; 
    color: #4c91a6;
}

a:active, a:link {
    text-decoration: underline;
  }
